.button {
	margin-left: 400px;
	margin-top: 12px;
}

.dropZone {
	border: 2px dashed blue;
	border-radius: 12px;
	margin: 0 auto;
	padding: 24px 0;
	width: 500px;
}

.file {
	cursor: default;
}

.selected {
	background-color: lightgrey;
}
