.generalInformation {
	margin: 24px 0 24px 32px;
}

.moreInformation {
	font-style: italic;
	cursor: pointer;
	width: fit-content;
}

.totalCost {
	border: solid red 2px;
	border-radius: 10px 100px / 120px;
	font-weight: bold;
	margin: 0 auto;
	padding: 12px 20px;
	width: fit-content;
}
